services:
    backend:
        build: .
        env_file:
            - .env
        environment:
            TG_BOT_TOKEN: ${TG_BOT_TOKEN}
            DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}&charset=utf8"
            NODE_ENV: ${NODE_ENV:-development}
            LOG_LEVEL: ${LOG_LEVEL:-info}
        restart: unless-stopped
        ports:
            - 3000:3000
        extra_hosts:
            - "host.docker.internal:host-gateway"
        volumes:
            - ./src:/app/src

volumes:
    postgres_data:
        driver: local
